<ion-content padding>

    <ion-item color="dark">
        <ion-label>Descanso</ion-label>
        <ion-datetime display-format="mm:ss" placeholder="Toque aqui" [(ngModel)]="fullTime"></ion-datetime>
    </ion-item>

    <circle-progress (click)="startTimer()"
    [percent]="percent"
    [maxPercent]="100"
    [radius]="radius"
    [showTitle]="false"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [outerStrokeColor]="'#8000FF'"
    [showZeroOuterStroke]="false"
    [backgroundStroke]="'#33003F'"
    [backgroundStrokeWidth]="3"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#FF00CB'"
    [showInnerStroke]="false"
  ></circle-progress>

  <p>{{ this.elapsed.h }}:{{ this.elapsed.m }}:{{ this.elapsed.s }}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ng-container *ngIf="timer == false; else running">
        <ion-fab-button (click)="startTimer()">
            <ion-icon name="play"></ion-icon>
          </ion-fab-button>
      </ng-container> 
      <ng-template #running>
          <ion-fab-button (click)="stopTimer()">
              <ion-icon name="square"></ion-icon>
            </ion-fab-button>
      </ng-template>
  </ion-fab>

 </ion-content>
